@using TeLoBusco.Models
@model PostulacionesViewModel

@{
    ViewBag.Title = "Postulación";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @*<h4>¡Tu pedido no tarda en llegar!</h4>*@
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">

                    <div class="col-md-6" style="margin:5px 0px;">
                        <div class="card" style="min-height: 433px;">
                            <div class="card-header">
                                <h5>Datos de la postulación</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label><b>Delivery:</b> <a class="btn btn-success" data-toggle="modal" data-target=".bootstrapmodal">@Model.PostuladoNombreApellido</a></label><br /> <!-- usar IdPostulado para mostrar info del delivery-->
                                    <div class="modal fade bootstrapmodal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    Asi esta Valorado @Model.PostuladoNombreApellido
                                                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <label class="alert-primary">El promedio de todos sus servicios: @Model.ValoracionDelivery.ToString("N2")</label>
                                                </div>
                                                <div class="modal-footer">
                                                    Wappo Web
                                                </div>
                                            </div>

                                        </div>
                                    </div> 
                                    
                                    <label><b>Tiempo estimado de transporte:</b> @Model.TiempoEstimado Min.</label><br />
                                    <label><b>Precio de transporte:</b> $@Math.Round(Model.Precio, 2)</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" style="margin:5px 0px;">
                        <!-- DATOS DEL PEDIDO -->
                        <div class="card" style="min-height: 433px;">
                            <div class="card-header">
                                <h5>Datos del pedido</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label><b>Cliente:</b> @Model.pedidoDetalles.NombreCliente</label><br />
                                    <label><b>Descripción pedido:</b> @Model.pedidoDetalles.DescripcionPedido</label><br />
                                    <label><b>Observaciones pedido:</b> @Model.pedidoDetalles.ObservacionesPedido</label><br />
                                    <label><b>Dirección origen:</b> @Model.pedidoDetalles.DireccionOrigen</label><br />
                                    <label><b>Dirección destino:</b> @Model.pedidoDetalles.DireccionDestino</label><br />
                                    <label><b>Distancia entre el origen y el destino</b> (en línea recta): @Model.pedidoDetalles.Distancia Km.</label><br />
                                    <label><b>Precio:</b> $@Math.Round(Model.pedidoDetalles.Precio, 2)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(model => Model.IdPedido)
                @Html.HiddenFor(model => Model.precioMinimo)
                @Html.HiddenFor(model => Model.precioMaximo)
                @Html.HiddenFor(model => Model.IdPostulacion)

                <br />
                <!-- BOTÓN PUBLICAR PEDIDO -->
                <div class="row">
                    <div class="form-group" style="margin-left: auto; margin-right: auto;">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="¡Aceptar postulación!" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

