@using Datos
@model List<Pedidos>

<head>
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
      <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>*@
    @*<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@
</head>

<table id="dataTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Dirección Origen</th>
            <th>Dirección Destino</th>
            <th>Estado</th>
            <th>Precio pedido</th>
            <th>Precio transporte</th>
            <th>Seguimiento</th>
            <th>Finalizar</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Dirección Origen</th>
            <th>Dirección Destino</th>
            <th>Estado</th>
            <th>Precio pedido</th>
            <th>Precio transporte</th>
            <th>Seguimiento</th>
            <th>Finalizar</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var pedido in Model)
        {
        <tr>
            <td class="celdaBotones">
                <a href="@Url.Action("Edit", new { id = pedido.IdPedido })">Modificar</a>
                <a href="#" id=@pedido.IdPedido class="eliminarPedido">Eliminar</a>
            </td>
            <td>@pedido.calle_origen @pedido.nro_calle_origen, @pedido.Localidades.Nombre</td>
            <td>@pedido.calle_destino @pedido.nro_calle_destino, @pedido.Localidades1.Nombre</td>
            <td>@pedido.Estados.Descripcion</td>
            <td>@Math.Round(pedido.precio_predido, 2)</td>
            @if (pedido.precio_transporte != null)
            {
                <td>@Math.Round(Convert.ToDecimal(pedido.precio_transporte), 2)</td>
            }
            else
            {
                <td>No disponible</td>
            }
                
            @if (pedido.Estados.Descripcion == "Asignado")
            {
                <td>
                    <a href="@Url.Action("SeguimientoPedido", new { id = pedido.IdPedido })">Seguir pedido</a>
                </td>                       
            }
            else
            {
                <td>No asignado</td>
            }             
            @if (!pedido.finalizado_cliente)
            {
                <td class="celdaBotones">
                    <a href="@Url.Action("Valorar", new { id = pedido.IdPedido })">Finalizar</a>
                </td>
            }
            else
            {
                <td>Pedido finalizado</td>
            }
        </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
