@using TeLoBusco.Models
@model  ValoracionesViewModel
@{
    ViewBag.Title = "Valorar";
}

@if (ViewBag.Delivery == true)
{
    <form class="form-group" asp-controller="Pedidos" asp-action="Valorar" method="post" class="form-horizontal">
        <h2>Valoración para el pedido N° @Html.DisplayFor(x => x.IdPedido)</h2>
        <h3>Para la comunidad es muy importante tu voto!</h3>
        <div class="form-group">
            <label>¿Que te parecio el servicio?</label>

            @Html.DropDownListFor(x => x.Puntuacion, Enumerable.Range(1, 5).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
        </div>
        <div class="form-group">
            <label>Dejanos un comentario!</label>
            @Html.TextBoxFor(m => m.Comentario, new { @class = "form-control" })
        </div>

        @Html.HiddenFor(model => model.IdPedido)
        @Html.HiddenFor(model => model.IdDelivery)
        @Html.HiddenFor(model => model.IdCliente)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Valorar" />
            </div>
        </div>
    </form>
}
else
{
    <h1>Su pedido aún no tiene un delivery asignado.</h1>
}
