@{
    ViewBag.Title = "Bienvenidos";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <title>@ViewBag.Title - Wappo</title>
    @Styles.Render("~/Content/css")
    @*<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Shadows+Into+Light" rel="stylesheet">*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding: 0px;">
    <!-- MENÚ -->
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-custom fixed-top">
            <a class="navbar-brand navbar-title" href="/Home/Index">
                <img src="~/Images/logo.png" class="logo" width="92" height="52" alt="Logo">
                Wappo
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-margin" id="navbarNav">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index">Inicio</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pedidos<span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu bg-black">
                                <a class="dropdown-item itemsPrincipal" href="/Pedidos/Index">Inicio</a>
                                <a class="dropdown-item itemsPrincipal" href="/Pedidos/Create">Nuevo pedido</a>
                                <a class="dropdown-item itemsPrincipal" href="/Pedidos/PedidosCliente">Mis pedidos</a>
                                <div class="dropdown-divider bg-dark"></div>
                                <a class="dropdown-item itemsPrincipal" href="/Pedidos/Pedidos">Encontrar pedidos cercanos</a>
                                <a class="dropdown-item itemsPrincipal" href="/Pedidos/PedidosTodos">Todos los pedidos</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown active">
                            <a id="ViewNotifications" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Notificaciones <span id="NotificationCounter" class="badge badge-danger">0</span></a>
                            <div id="NotificationList" class="dropdown-menu bg-black"></div>
                        </li>
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Usuarios/Index">Administrar usuarios</a>
                            </li>
                        }
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>

    <div class="landing-page-principal">

        <!-- SECCIÓN PRINCIPAL -->
        <div id="seccionPrincipal">
            <div class="content">
                <hgroup>
                    <h1 class="tituloLanding">Wappo</h1>
                    <h2 class="subtituloLanding">¿Necesitás un delivery?</h2>
                </hgroup>
            </div>
            <div class="overlay"></div>
        </div>
        <div id="callToAction" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 titleCallToAction">¿Compraste comida y no tenés cómo buscarla?</h1>
                <p class="subtitleCallToAction">Wapo te ayuda a <b>conectarte</b> con el mejor delivery para vos</p>
                <a id="registerBtn" class="btn btn-outline-secondary btn-lg" href="/Account/Register" role="button">¡Registrate!</a>
                <br />
                <p class="subtitleCallToAction">¡Es fácil, rápido y <b>gratis</b>!</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="featureTitle">Encontrá tu delivery</h2>
                    <p class="feature">
                        ¿Compraste comida pero no tenés como buscarla?  No te preocupes, en Wappo podrás encontrar
                        deliverys dispuestos a recoger tu pedido y elegir al que más te convenga,
                        teniendo en cuenta tiempos de demora, valoraciones y costos.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2 class="featureTitle">Encontrá tu pedido</h2>
                    <p class="feature">
                        ¿Sos delivery? ¿Necesitás un ingreso extra? Cualquiera sea el motivo, podrás postularte como delivery,
                        de esta manera tendrás acceso a los pedidos que las personas cercanas a ti realizan y podrás postularte como delivery.
                        Si te escogen, ¡no tardes en llegar!
                    </p>
                </div>
                <div class="col-md-4">
                    <h2 class="featureTitle">Valorá a los demás usuarios</h2>
                    <p class="feature">
                        Podrás valorar tanto a los deliverys si sos un consumidor del servicio. O a los consumidores si sos delivery.
                        De esta forma todos mantendremos nuestra reputación, ¿fácil no?
                    </p>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footerLandingPage">
            <div class="col">
                <label>&copy; @DateTime.Now.Year - </label>
                <label class="wapoFooter">Wappo</label>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {
            $.get("/Notificaciones/ObtenerNotificacionesUsuario", function (data) {
                var obj = JSON.parse(data);
                //console.log(obj);
                if (!(obj.Message == 'Nulo')) {
                    var notificaciones = obj.Notificaciones;
                    if (notificaciones.length > 0) {
                        /*Agregar contador de notificaciones*/
                        $("#NotificationCounter").html(notificaciones.length);

                        /*Agregar notificaciones*/
                        for (var i = 0; i < notificaciones.length; i++) {
                            console.log(notificaciones[i]);
                            //var idActividad = notificaciones[i].Postulaciones.IdPedido; //Pedido
                            var idActividad = notificaciones[i].IdActividad;
                            var idTipoActividad = notificaciones[i].IdTipoActividad;
                            var url = "/Notificaciones/Notificacion?idActividad=" + idActividad + "&idTipoActividad=" + idTipoActividad;
                            var $nuevaNotificacion = $('<a class="dropdown-item itemsPrincipal" href="' + url + '">' + notificaciones[i].Descripcion + '</a>'),
                                nuevaNotificacion2 = document.createElement("a"),
                                divPadre = document.getElementById("NotificationList");
                            $("#NotificationList").append($nuevaNotificacion, [nuevaNotificacion2, divPadre]);
                        }
                    } else {
                        $("#NotificationCounter").css('display', 'none');
                        var $nuevaNotificacion = $('<a class="dropdown-item itemsPrincipal" href="#">No hay notificaciones nuevas</a>'),
                            nuevaNotificacion2 = document.createElement("a"),
                            divPadre = document.getElementById("NotificationList");
                        $("#NotificationList").append($nuevaNotificacion, [nuevaNotificacion2, divPadre]);
                    }
                }
            });

            /*Limpiar contador de notificaciones al hacerle clic*/
            $("#ViewNotifications").click(function () {
                $("#NotificationCounter").html(0);
                $("#NotificationCounter").css('display', 'none');
            });
        });
    </script>
</body>
</html>