<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <title>@ViewBag.Title - Wappo</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @*<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Shadows+Into+Light" rel="stylesheet">*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-custom navbar-margin-bottom">
        <a class="navbar-brand navbar-title" href="/Home/Index">
            <img src="~/Images/logo.png" class="logo" width="92" height="52" alt="Logo">
            Wappo
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-margin" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">Inicio</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pedidos<span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Pedidos/Index">Inicio</a>
                        <a class="dropdown-item" href="/Pedidos/Create">Nuevo pedido</a>
                        <a class="dropdown-item" href="/Pedidos/PedidosCliente">Mis pedidos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Pedidos/Pedidos">Encontrar pedidos cercanos</a>
                        <a class="dropdown-item" href="/Pedidos/PedidosTodos">Todos los pedidos</a>
                    </div>
                </li>
                @if (User.IsInRole("Administrador"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Usuarios/Index">Administrar usuarios</a>
                    </li>
                }
                
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        <div class="bodyPages" style="margin-top:95px;">
            @RenderBody()
        </div>         
        <hr/>
        <footer class="footerPrincipal">
            <label class="footerPrincipalAño">&copy; @DateTime.Now.Year - </label>
            <label class="wapoFooter">Wappo</label>
        </footer>
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/js")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
